{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}

<h2>Add Feed</h2>
<form class="form-horizontal" method="post" action="{% url 'feeds:add_feed' %}">
  <div class="row">
    <div class="col-sm-12">
      {% csrf_token %}
      {{ form }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

