{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
<div class="container-fluid">
{% if user == request.user %}
<div class="row">

  <div class="col-lg-12">
    <table class="table table-lg">
      <thead>
      <tr>
        <th scope="col"><a href="{% url 'feeds:feeds' %}" class="btn btn-primary">Back</a></th>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
        <th scope="col">URL</th>
        <th scope="col">Leave a comment</th>
        <th scope="col">State</th>
        <th scope="col">Bookmark</th>
        <th scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      {% for article in articles %}
      <tr>
        <td></td>
        <td>{{ article.id }}</td>
        <td><a  href="{% url 'feeds:article' pk=article.pk %}">{{ article.title }}</a></td>
        <td>{{ article.author }}</td>

        <td>{{ article.date | timezone:"Europe/Paris" }}</td>
        <td><a target="_blank" href="{{ article.url }}">{{ article.url }}</a></td>

        <td><a target="_blank" href="{{ article.comments_url }}">{{ article.comments_url }}</a></td>

        {% if article.state == 0 %}
            <td>Unread</td>
        {% else %}
            <td>Read</td>
        {% endif%}

        {% if article.bookmark %}
            <td><a href="{% url 'feeds:bookmark_article' pk=article.pk %}" class="btn btn-danger">Remove Bookmark</a></td>
            <td><span></span></td>
        {% else %}
            <td><a href="{% url 'feeds:bookmark_article' pk=article.pk %}" class="btn btn-success">Add Bookmark</a></td>
            <td><a href="{% url 'feeds:delete_article' pk=article.pk %}" class="btn btn-warning">Remove</a></td>
        {% endif %}
      </tr>
      {% endfor %}
      <tr>
      </tbody>
    </table>
  </div>

</div>
{% endif %}


</div>
{% endblock content %}

