{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
<div class="container">
{% if user == request.user %}
<div class="row">
  <div><a href="{% url 'feeds:articles' pk=article.feed.id %}" class="btn btn-primary">Back</a></div>
  <div class="col-lg-12">
      <div>
        <div><i>Title:</i> {{ article.title }}</div>
        <div><i>Author:</i> {{ article.author }}</div>
        <div><i>Published:</i> {{ article.date | timezone:"Europe/Amsterdam" }}</div>
        <div><i>Status: </i>
        {% if article.state == 0 %}
            Unread
        {% else %}
            Read
        {% endif%}
          </div>
        <div><a target="_blank" href="{{ article.url }}">{{ article.url }}</a></div>
        <div><i>Leave a comment: </i><a target="_blank" href="{{ article.comments_url }}"> {{ article.comments_url }}</a></div>
      </div>
      <div>
        <div><i>Content:</i> {{ article.content }}</div>
      </div>
      {% if article.bookmark %}
            <div><a href="{% url 'feeds:bookmark_article' pk=article.pk %}" class="btn btn-danger">Remove Bookmark</a></div>
        {% else %}
            <div><a href="{% url 'feeds:bookmark_article' pk=article.pk %}" class="btn btn-success">Add Bookmark</a></div>
        {% endif %}
  </div>

</div>
{% endif %}


</div>
{% endblock content %}

