{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}

<h2>Add Feed</h2>
<form class="form-horizontal" method="post" action="{% url 'feeds:edit_feed' %}">
  {% csrf_token %}
  {{ form }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
{% endblock %}

