{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
<div class="container-fluid">
{% if user == request.user %}
<div class="row">

  <div class="col-sm-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">URL</th>
        <th scope="col">Added</th>
        <th scope="col">Unread</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Last Checked</th>
        <th scope="col">Status</th>
        <th scope="col">Next Check</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for feed in feeds %}
      <tr>
        <td>{{ feed.id }}</td>

        <td><a href="{% url 'feeds:articles' pk=feed.pk %}">{{ feed.title }}</a></td>
        <td><a href="{% url 'feeds:articles' pk=feed.pk %}">{{ feed.feed_url }}</a></td>

        <td>{{ feed.created | timezone:"Europe/Amsterdam" }}</td>

        <td>{{ feed.count_unread }}/{{ feed.count_total }}</td>
        <td>{{ feed.last_updated | timezone:"Europe/Amsterdam" }}</td>
        <td>{{ feed.last_checked | timezone:"Europe/Amsterdam" }}</td>

        {% if feed.is_active %}
            {% if feed.error %}
                <td>Problem</td>
            {% else %}
                <td>Active</td>
            {% endif %}
        {% else %}
            <td><img src="{{ STATIC_URL }}/images/favicons/favicon.png" alt="Inactive" title="Inactive"></td>
        {% endif %}

          <td>{{ feed.next_check | timezone:"Europe/Amsterdam" | default:"As soon as possible" }}</td>
          <td>
            <a href="{% url 'feeds:refresh_feed' pk=feed.pk %}" class="btn btn-primary">Refresh</a>
            <a href="{% url 'feeds:delete_feed' pk=feed.pk %}" class="btn btn-danger">Delete</a>
          </td>
      </tr>

      {% endfor %}
      <tr>
      </tbody>
    </table>

    {% include "feeds/part/add_feed.html" %}
  </div>

</div>
{% endif %}


</div>
{% endblock content %}

