{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block modal %}

<form method="post" class="form-horizontal">{% csrf_token %}
  <div class="control-group">
    <div class="controls">
      <p>Are you sure you want to delete RSS Feed "{{ object.feed_url }}"?</p>
      <input class="btn btn-info half-input" style="width: 10%" type="submit" value="Confirm">
      <a class="btn btn-danger" href="{% url 'feeds:feeds' %}">
         Cancel
      </a>

    </div>
  </div>
</form>

{% endblock %}
