{% load static %}

<h2>Add Feed</h2>

{% block content %}
<form class="form-horizontal" method="post" action="{% url 'feeds:add_feed' %}">
  {% csrf_token %}
  {{ form }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
{% endblock %}
